body, html {
  background-image: url('../img/triangles2.jpg');
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  font-size: 60px;
}

label {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 40px;
}

li {

}

.topping-comment {
  font-size: 20px;
}

.header {
  background-color: #F1E3B4;
  text-align: center;
  padding-bottom: 50px;

}

.col-xs-7 {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 20px;
  height: 504px;
}

.size-form {
  text-align: center;
}

#submit {
  display: none;
}

#toppings {
  display: none;
}

.output {
  display: none;
}

.output-head {
  text-align: center;
}

.toppings-list-items {
  padding-left: 10px;
}
